html{
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 13px;
}

#gmail-link, #images-link{
    text-decoration: none;
    color: rgb(0,0,0, 0.87);
}

#gmail-link:hover, #images-link:hover{
    text-decoration: underline;
}

.header{
    margin-left: 20px;
}

#profile-pic{
    width: 30px;
    height: auto;
    border-radius: 50%;
}

#google-apps{
    width: 30px;
}

#search{
    display: grid;
    justify-items: center;
    grid-row: 30% 30% 20% 20%;
    grid-column: auto 300px auto;
    grid-template-areas: "logo logo logo"
                         "srch srch srch"
                         ". butt ."
                         "ptbr ptbr ptbr";
}

#mag-lens{
    width: 5%;
    height: auto;
    position: absolute;
    top: 223px;
    left: 110px;
}

#google-logo{
    padding-top: 1em;
    padding-bottom: 1.5em;
    grid-area: logo;
}

.search-bar{
    position: relative;
    display: flex;
}

/*
#mag-lens{
    position: absolute;
    right: 80px;
    order: 1;
}
*/

#search-bar{
    margin-bottom: 2.7em;
    width: 580px;
    height: 42px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    grid-area: srch;
    order: 2;
}

.search-buttons{
    display: flex;
    grid-area: butt;
}

button{
    background-color: transparent;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

button:hover{
    border: 1px solid rgb(209, 205, 205);
    border-radius: 4px;
}

#google-search{
    order: 1;
    margin-right: 150px;
}

#lucky-search{
    order: 2;
    margin-left: 150px;
}

#pt-br{
    grid-area: ptbr;
    margin-top: 2em;
    font-size: small;
    color:rgb(0,0,0, 0.87);
}

#pt-br-link{
    text-decoration: none;
}

#pt-br-link:hover{
    text-decoration: underline;
}


#search-bar:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

footer{
    position: fixed;
    bottom: 0;
    left:0;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color:rgba(243, 243, 243, 0.87);
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid rgb(212, 212, 212);
}

.footer-left, .footer-right{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color:rgb(114, 114, 114);
    font-size: 14px;
}

.footer-left:hover, .footer-right:hover{
    text-decoration: underline;
}